$color-theme = #2d8cf0
$color-theme-l = #5cadff
$color-theme-d = #2b85e4
$color-background = #f8f8f9

$color-info = #2db7f5
$color-success = #19be6b
$color-warning = #ff9900
$color-danger = #ed4014

$color-border = #dcdee2
$color-divider = #e8eaec

$color-text = #17233d
$color-text-l = #515a6e
$color-text-ll = #808695
$color-text-disabled = #c5c8ce

$size-text-mini = 12px
$size-text-small = 13px
$size-text = 14px
$size-text-medium = 16px
$size-text-large = 18px
$size-text-large-x = 20px

$color-shadow-bg = rgba(0, 0, 0, .2)
